In [1]:
#import pandas library
import pandas as pd

#Load CSV files
schools_data_file = "Resources/schools_complete.csv"
students_data_file = "Resources/students_complete.csv"

#Read CSV files
schools_data = pd.read_csv(schools_data_file)
students_data = pd.read_csv(students_data_file)

#Merge into single dataset
combined_data_df = pd.merge(students_data, schools_data, how="left", on=["school_name", "school_name"])

In [7]:
#Calculate the total number of schools
total_schools = len(combined_data_df["school_name"].value_counts())

#Calculate the total number of students
total_students = (combined_data_df["student_name"].count())

#Calculate the total budget
total_budget = sum(combined_data_df["budget"].unique())

#Calculate the average math score
average_math_score = combined_data_df["math_score"].mean()

#Calculate the average reading score
average_reading_score = combined_data_df["reading_score"].mean()

#Calculate the percentage of students with a passing math score (70 or greater)
passing_math_score = (combined_data_df[combined_data_df["math_score"]>=70]["student_name"].count()/total_students)*100

#Calculate the percentage of students with a passing reading score (70 or greater)
passing_reading_score = (combined_data_df[combined_data_df["reading_score"]>=70]["student_name"].count()/total_students)*100

#Calculate the percentage of students who passed math and reading (% Overall Passing)
students_passing_both = combined_data_df[(combined_data_df["math_score"] >= 70) & (combined_data_df["reading_score"] >= 70)]
students_passing_both_count = students_passing["student_name"].count()
overall_passing = (students_passing_both_count/total_students)*100

In [8]:
#Create the district snapshot (in table form)
district_summary = pd.DataFrame ({"Total Schools": [total_schools], "Total Students": [total_students], "Total Budget": [total_budget], "Average Math Score": [average_math_score], "Average Reading Score": [average_reading_score], "% Passing Math": [passing_math_score], "% Passing Reading": [passing_reading_score], "% Passing Overall": [overall_passing]})
district_summary

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Passing Overall
0,15,39170,24649428,78.985371,81.87784,74.980853,85.805463,65.172326